[lang="fa-IR"]{
    direction: rtl !important;
}
body{
    margin    : 0         ;
    padding   : 0         ;
    box-sizing: border-box;
    overflow-x: hidden    ;
}
ul{
    list-style: none;
    margin    : 0   ;
    padding   : 0   ;
}
a{
    text-decoration: none;
   // color: #2cc852;
}
img{
    max-width: 100%;
}