@use "layout";

$green       :#2cc852 ;
$base        :white   ;
$bg-color    :#eaeaea ;
$black       :black   ;
$bg2-color   :#d5d5d5 ;
$dark        :#363634 ; 
$border      :#f7f7f7 ;
$border-2    :#fbfbfb ;

body{
    overflow-x: hidden;
}

header{
    nav{
        border-bottom: 1px solid $bg-color ;
        padding      : 1rem                ;
        .adress{
            display        : flex  ;
            justify-content:start  ;
            align-items    : center;
            
            }
            ul{
                display: flex;
                li{
                    padding-left: 10px;
                    a{
                        font-size: 0.5rem;
                    }
                }
            }
      }
    .logo{
        display        : flex         ;
        justify-content: space-between;
        align-items    : center       ;
        padding-right  : 8px          ;
        padding-left   : 8px          ;
       }
       .s-search{
        display: none;
       }
       //replace//
       .meld{
        display: none;
       }
        .meld-replace{
                border-radius: 10px                 ;
                border       : 1px solid $bg-color  ;
                padding      : .5rem 1rem .5rem 1rem;
                display      : flex                 ;
            
            .svg-1{
                transform  :  translate(0) rotate(180deg);
                color      : $green                      ;
                font-size  : 1.5rem                      ;
                transition : all .3s ease                ;
                user-select: none                        ;
                width      : 1rem                        ;
                height     : 1rem                        ;
                display    : inline-block                ;
                fill       : currentColor                ;
                flex-shrink: 0                           ;
            }
            .svg-2{
                color      : $green      ;
                font-size  : 1.5rem      ;
                transition : all .3s ease;
                user-select: none        ;
                width      : 1rem        ;
                height     : 1rem        ;
                display    : inline-block;
                fill       : currentColor;
                flex-shrink: 0           ;
               }
            }
       //rep...//
       //basket//
       .basket{
            color      :$black ;
            align-items: center;
        .btn-basket{
            background-color: $green              ;
            padding         : 12px 16px 8px 4px   ;
            border-radius   : 12px                ;
            border          : 1px solid $bg-color ;
            width           : 55px                ;
            height          : 48px                ;
            position        : relative            ;
            cursor          : pointer             ;
        }
        .relative-basket{
            position        : absolute                       ;
            transform       : translate(70%, -35%) !important;
            color           :$green                          ;
            background-color: $base                          ;
            display         : flex                           ;
            flex-direction  : row                            ;
            flex-wrap       : wrap                           ;
            justify-content : center                         ;
            align-content   : center                         ;
            align-items     : center                         ;
            position        : absolute                       ;
            box-sizing      : border-box                     ;
            font-weight     : 700                            ;
            font-size       : 0.8571428571428571rem          ;
            min-width       : 20px                           ;
            line-height     : 1                              ;
            padding         : 0 6px                          ;
            height          : 20px                           ;
            border-radius   : 10px                           ;
            z-index         : 1                              ;
            transition      :transform 195ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            top             : 13px                           ;
            left            : 9px                            ;
        }
       }
       //basket//
      .home {
        display: none ;
      } 
}
main{
    .slider1-2{
        display: none  ;
    }
      
    .server-1{
        background   : $bg2-color           ;
        border       : 1px solid $bg2-color ;
        height       : 100%                 ;
        border-radius: 12px                 ;
        position     : relative             ;
        z-index      : 10                   ;
    }  
    .child-server1{
        padding: 36px 0 10px 33px;    
    }    
    h3{
        font-size  : 1.125rem !important;
        font-weight: 700 !important     ;
        text-align : center             ;
        color      : $black !important  ;
        transition : all .4s ease-in-out;
      }
   .m-kharid{
     position: relative;
       }
   .kharid{
    background   : $dark              ;
    color        : $base              ;
    border-radius: 32px               ;
    padding      : 10px 27px 10px 27px;
    position     : absolute           ;
    top          : 97px               ;
    left         : 32px               ;
    z-index      : 2                  ;
   }
   .i-kharid{
    background   : $base              ;
    color        : $dark              ;
    border-radius: 32px               ;
    padding      : 10px 24px 10px 20px;
    position     : absolute           ;
    top          : 94px               ;
    z-index      : 1                  ;
    left         : 8px                ;
   }
   .hover-kharid:hover{
    .kharid{
        background: $green;
        color     :$dark  ;
    }
    .i-kharid{
        background:$dark  ;
        color     : $base ;
    }
   }
   //////
   .p-phone{
    background-color: $bg-color ;
    padding         : 30px      ;
  }
  .card{
    border: none;
  }
  .heading-1{
    position   : relative;
    font-size  : 1.125rem;
    line-height: 1.75    ;
    color      :$black   ;
    font-weight: 700     ;
  }
    .heading-1::before{
        content   : ""      ;
        position  : absolute;
        width     : 51px    ;
        height    : 2px     ;
        background: $green  ;
        bottom    : 0       ;
    }
 
  .phone-1{
    width       : 3rem;
    height      : 3rem;
    margin-right: 3rem;
  }
 .card-h2{
    font-size  : .875rem;
    font-weight: 400    ;
    //
    line-height  : 1.625                ;
    height       : 50px                 ;
    text-overflow: ellipsis             ;
    padding      : 0 24px               ;
    transition   : color .3s ease-in-out;
    color        : $dark                ;
 }
 .card:hover{
    box-shadow: 0 5px 6px hsla(0, 9%, 4%, .16);
    cursor    : pointer                         ;
    transform : translateY(-4px)                ;
 }
 .col-6{
    margin-bottom: 1rem;
 }
 ///
 .geshenk-1{
    background-color: $bg2-color;
    border-radius   : 12px      ;
}
.parent-geshenk{
    position   : relative           ;
    padding    : 36px 0 10px 33px   ;
    font-size  : 1.125rem !important;
    font-weight: 700 !important     ; 
}
   
 .g-kharid{
    background   : $dark              ;
    color        : $base              ;
    border-radius: 32px               ;
    padding      : 10px 29px 10px 36px;
    position     : absolute           ;
    top          : 66px               ;
    left         : 32px               ;
    z-index      : 2                  ;
 } 
 .ig-kharid{
    background   : $base              ;
    color        :dark                ;
    border-radius: 32px               ;
    padding      : 10px 24px 10px 12px;
    position     : absolute           ;
    top          : 66px               ;
    z-index      : 1                  ;
    left         : 8px                ;
 } 
 .parent-geshenk:hover{
   .g-kharid{
    background: $green;
    color     :$dark  ;
   }
   .ig-kharid{
    background:dark  ;
    color     :$base ;
   }
 }
  //
  .etebar{
    background: $bg-color ;
 }
 .card-etabar{
    background:$bg-color        ;
    border    : 1px solid $base ;
 } 
 .Juan{
    a{
        color  : $black ;
        padding:2rem    ;  
    }
    h2{
        font-weight: 400   ;
        font-size  : 1rem  ; 
        text-align : center;
        padding    : 0.6rem;
    }
}
.hp{
    width   : 106px           ;
     height : 88px            ;
     padding: 1rem 3rem 1rem 0;
}
 .etebar{
    background: $bg-color ;
 }
 .card-etabar{
    background:$bg-color        ;
    border    : 1px solid $base ;
 }
 //
 .send{
    display: none;   
}
}
//
.top-footer {
    background       : $bg-color          ;
    .start-a1{
        padding      : 10px 15px 10px 10px;
        background   : $base              ;
        border       : 1px solid $bg2-color;
        border-radius: 5px                ;
        margin-left  : 1rem               ;
        color        : gray             ;
    }
}
    .start-a1:hover{
        background: $green ;
        cursor    : pointer;
    }
    .rah{
        p:hover{
            padding-right: 8px   ;
            color        : $green;
        }
    }
    input[type="search"]{
        border       : 1px solid $border-2;
        border-width : 1px 1px 1px 0 ;
        border-radius: 0 12px 12px 0;;          
        text-align   : center;
        background   : $border;
        margin       : 1rem 0 1rem 0;
        padding      : 1rem 0 1rem 0;
        color        : $black;
    }
    .btn-search{
        text-align   : center         ;           
        border       : solid $border-2;
        border-width : 1px 0 1px 1px  ;
        border-radius: 12px 0 0 12px  ;
        color        :$green          ;
        background   : $border        ;
        padding      : 1rem           ;
        width        : 53px           ;
      
    }
    .image-3{
        margin-right : 3rem           ;
    } 
   
.border-foot{
    border-top: 1px solid $bg-color ;
    padding   : 1rem                ;
}
.circle{
    position: fixed;
    bottom  : 24px ;
    left    : 24px ;
    z-index : 10   ;
    button{
        width        : 50px                                       ;
        height       : 50px                                       ;
        background   : $base                                      ;
        border       : 2px solid $green                           ;
        filter       : drop-shadow(0 2px 6px rgba(0, 0, 0, .08));
        color        : $green                                     ;
        border-radius: 50%                                        ; 
     }
     button:hover{
        color     : $base ;
        background: $green;
     }
}
/////////////////////////////////////////////////////////////////////////////////desktop////////////////////////
@media(min-width:768px){
    body{
        background-color: $base  !important;
        overflow-x      : hidden !important;        
    }
header{
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    nav{
        border-bottom: 1px solid #e0d9d9;
        padding      : 1rem               ;
        .adress{
            display        : flex  ;
            justify-content: end   ;
            align-items    : center;
            }
            ul{
                display: flex;
                li{
                    padding-right: 10px;
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
        .logo{
            display      : flex  ;
            align-items  : center;
            padding-right: 24px  ;
            padding-left : 24px  ;
        }
        ///      
        .s-search{
            width  : 60px             ;
            margin : 25px -399px 2px 0; 
            display: flex             ;     
        }
        input[type="search"]{
            border       : 1px solid $border-2;
            border-width : 1px 1px 1px 0      ;
            border-radius: 0 12px 12px 0      ;          
            text-align   : center             ;
            background   : $border            ;
            margin       : 1rem 142px 1rem 0  ;
            padding      : 1rem 0 1rem 0      ;
        }
        .btn-search{
            text-align   : center         ;           
            border       : solid $border-2;
            border-width : 1px 0 1px 1px  ;
            border-radius: 12px 0 0 12px  ;
            color        :$green          ;
            background   : $border        ;
            padding      : 1rem           ;
            width        : 53px           ;
        }     
        //////
        .meld{
            display: block                     ;
            padding-right: 8px                 ;
            border-radius: 10px                ;
            border       : 1px solid $bg-color ;
            margin-left  : -17rem              ;
            padding      : 1rem                ;
            .meld-2{
                border-right : 1px solid gray;
                padding-right: 8px             ;
            }      
        .svg-1{
            transform  : translate(0) rotate(180deg);
            color      : $green                     ;
            font-size  : 1.5rem                     ;
            transition : all .3s ease               ;
            user-select: none                       ;
            width      : 1rem                       ;
            height     : 1rem                       ;
            display    : inline-block               ;
            fill       : currentColor               ;
            flex-shrink: 0                          ;
        }
       }  
       .meld-replace{
           display: none;
       }
       .basket{
        color      : $black;
        align-items: center;
        .btn-basket{
            background-color:$green               ;
            padding         : 12px 16px 8px 4px   ;
            border-radius   : 12px                ;
            border          : 1px solid $bg-color ;
            width           : 55px                ;
            height          : 48px                ;
            position        : relative            ;
            cursor          : pointer             ;
        }
        .relative-basket{
            position        : absolute                       ;
            transform       : translate(70%, -35%) !important;
            color           :$green                          ;
            background-color: $base                          ;
            display         : flex                           ;
            flex-direction  : row                            ;
            flex-wrap       : wrap                           ;
            justify-content : center                         ;
            align-content   : center                         ;
            align-items     : center                         ;
            position        : absolute                       ;        
            font-weight     : 700                            ;
            font-size       : 0.8571428571428571rem          ;
            min-width       : 20px                           ;
            line-height     : 1                              ;
            padding         : 0 6px                          ;
            height          : 20px                           ;
            border-radius   : 10px                           ;
            z-index         : 1                              ;
            transition      : transform 195ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            top             : 13px                            ;
            left            : 9px                            ;
        }
       }
       .home{
        display        : flex         ;
        justify-content: space-between;
        align-items    : center       ;
        padding-right  : 8px          ;
        padding-left   : 8px          ;
            a{
                color      : #272725  ;
                font-size  : .875rem    ;
                font-weight: 700        ;
                padding    : 0 24px      ;
                display    : table       ;
                position   :  relative   ;
                transition : all .3s ease;  
            }
            .bord a:before {
                content: "";
                position: absolute;
                left: 0;
                height: 20px;
                border-radius: 8px;
                border-top-left-radius    : 8px;
                border-top-right-radius   : 8px;
                border-bottom-right-radius: 8px;
                border-bottom-left-radius : 8px;
                background                : $bg-color ;
                top                       : 2px;
                width                     : 1px;
            }
            a:hover{
                color: $green;
            }
            .home-1{
                i{
                    color  : $green    ;
                    padding: 0 0 0 25px;
                }
            }
       }
    }

main{
    .slider-1{
        padding  : 0 4px    ;
        max-width: 1152px   ;
        margin   : 32px auto;   
    }
    .slider1-2{
        display        : flex;
        justify-content: center;
        flex-direction : row;
    } 
.four{
    .mr-3{
        margin-right: 6rem;
    }
    .server-1{
        background   : $bg2-color           ;
        border       : 1px solid $bg2-color ;
        height       :  100%                ;
        border-radius: 12px                 ;
        position     : relative             ;
        z-index      : 10                   ;
    }  
    .child-server1{
        padding: 36px 0 10px 33px;    
    }    
    h3{
        font-size  : 1.125rem !important ;
        font-weight: 700      !important ;
        text-align : center              ;
        color      : #272725!important;
        transition : all .4s ease-in-out ;
      }
   .m-kharid{
     position: relative;
       }
   .kharid{
    background   :$dark               ;
    color        : $base              ;
    border-radius: 32px               ;
    padding      : 10px 29px 10px 36px;
    position     : absolute           ;
    top          : 97px               ;
    left         : 32px               ;
    z-index      : 2                  ;   
   }
   .i-kharid{
    background     : $base              ;
    color          : $dark              ;
    border-radius  : 32px               ;
    padding        : 10px 24px 10px 12px;
    position       : absolute           ;
    top            : 94px               ; 
    z-index        : 1                  ;
    left          : 8px                 ;
   }
   .hover-kharid:hover{
    .kharid{
        background:$green;
        color:$dark;
    }
    .i-kharid{
        background:$dark  ;
        color     : $base ;
    }
   }
}
  ////////////////////////
  .p-phone{
    background-color:$bg-color ;
    padding         : 30px     ;
  }
  .card{
    border: none;
  }
  .heading-1{
    position   : relative;
    font-size  : 1.125rem;
    line-height: 1.75    ;
    color      : $black  ;
    font-weight: 700     ;
  }
    .heading-1::before{
        content   : ""      ;
        position  : absolute;
        width     : 51px    ;
        height    : 2px     ;
        background: $green  ;
        bottom    : 0       ;
    }
 
  .phone-1{
    width       : 6rem;
    height      : 6rem;
    margin-right: 3rem;
  }
 .card-h2{
    font-size    : .875rem              ;
    font-weight  : 400                  ;
    line-height  : 1.625                ;
    height       : 50px                 ; 
    text-overflow: ellipsis             ;
    padding      : 0 24px               ;
    transition   : color .3s ease-in-out;
    color        : $dark                ;
 }
 .card:hover{
    box-shadow: 0 5px 6px hsla(0, 9%, 4%, .16);
    cursor    : pointer                         ;
    transform : translateY(-4px)                ;
 }
 //////////////////
 .img-phone{
    border-right: 1px solid  $bg-color ;
    padding     : 2rem                 ;
 }
//////
.geshenk-1{
    background-color: $bg2-color;
    border-radius   : 12px       ;
}
.parent-geshenk{
    position   : relative           ;
    padding    : 36px 0 10px 33px   ;
    font-size  : 1.125rem !important;
    font-weight: 700      !important; 
}
   
 .g-kharid{
    background   : $dark              ;
    color        :$base               ;
    border-radius: 32px               ;
    padding      : 10px 29px 10px 36px;
    position     : absolute           ;
    top          : 66px               ;
    left         : 32px               ;
    z-index      : 2                  ;
 } 
 .ig-kharid{
    background   : $base              ;
    color        : $dark              ;
    border-radius: 32px               ;
    padding      : 10px 24px 10px 12px;
    position     : absolute            ;
    top          : 66px                ;
    z-index      : 1                   ;
    left         : 8px                 ;
 } 
 .parent-geshenk:hover{
   .g-kharid{
    background: $green;
    color     :$dark  ;
   }
   .ig-kharid{
    background: $dark ;
    color     :$base  ;
   }
 }
//
.Juan{
    a{
        color  : $black ;
        padding:2rem    ;  
    }
    h2{
        font-weight: 400   ;
        font-size  : 1rem  ; 
        text-align : center;
        padding    : 0.6rem;
    }
}
.hp{
    width   : 106px           ;
     height : 88px            ;
     padding: 1rem 3rem 1rem 0;
}
 .etebar{
    background: $bg-color ;
 }
 .card-etabar{
    background: $bg-color       ;
    border    : 1px solid $base ;
 }
//
.border-b{
    border-bottom: 1px solid $bg-color ;
 
}
.box-1{
    background-color: $base                           ;
    border          : 0                               ;
    border-radius   : 12px                            ;
    box-shadow      : 0 3px 6px hsla(0, 0%, 62%, .16);
}
//
.send{
    display   : block ;
    background:$border;
}
.img-send{
    width : 148px;
    height: 63px ;
}
//
.start-a{
    a{
        padding: 20px;
    }
}
    ///main///

}
//
  .top-footer {
    background: $bg-color ;
    .start-a1{
        padding      : 10px 15px 10px 10px ;
        background   : $base               ;
        border       : 1px solid $bg2-color;
        border-radius: 5px                 ;
        margin-left  : 1rem                ;
        color        : gray              ;
        }
        .start-a1:hover{
            background: $green ;
            cursor    : pointer;
        }
        .rah{
            p:hover{
            padding-right: 8px   ;
            color        : $green;
            }
        }
   
}

    input[type="search"]{
        border       : 1px solid $border-2;
        border-width : 1px 1px 1px 0      ;
        border-radius: 0 12px 12px 0      ;          
        text-align   : center             ;
        background   :$border             ;
        margin       : 1rem 0 1rem 0      ;
        padding      : 1rem 0 1rem 0      ;
        color        : $black             ;      
    }
    .btn-search{
        text-align: center;           
        border       : solid $border-2;
        border-width : 1px 0 1px 1px  ;
        border-radius: 12px 0 0 12px  ;
        color        :$green          ;
        background   : $border        ;
        padding      : 1rem           ;
        width        : 53px           ; 
    }
  
   
.border-foot{
    border-top: 1px solid $bg-color ;
    padding   : 1rem                ;
}

.circle{
    position: fixed;
    bottom  : 24px;
    left    : 24px;
    z-index : 10  ;
    button{
        width        : 50px                                      ;
        height       : 50px                                      ;
        background   :$base                                      ;
        border       : 2px solid $green                          ;                                      
        filter       :drop-shadow(0 2px 6px rgba(0, 0, 0, .08));
        color        :$green                                     ;
        border-radius: 50%                                       ; 
     }
     button:hover{
        color     : $base ;
        background:$green ;
     }
}
   ///////////media768////////  
}